li:first-child .text {
  background-color:#ED8B00;
}
li:nth-child(2) .text {
  background-color: #CE0037;
}
li:nth-child(3) .text {
  background-color: #CE0037;
}
li:nth-child(4) .text {
  background-color: #CE0037;
}
li:nth-child(5) .text {
  background-color: #CE0037;
}
li:nth-child(6) .text {
  background-color: #CE0037;
  
}
li:first-child {
  transform: rotate(0deg) skewY(-60deg);
  border: 1px solid black;
}
li:nth-child(2) {
  transform: rotate(60deg) skewY(-60deg);
}
li:nth-child(3) {
  transform: rotate(120deg) skewY(-60deg);
}
li:nth-child(4) {
  transform: rotate(180deg) skewY(-60deg);
}
li:nth-child(5) {
  transform: rotate(240deg) skewY(-60deg);
  
}
li:nth-child(6) {
  transform: rotate(300deg) skewY(-60deg);
}
.circle{
  width: 25em;
  height: 25em;
  border: 1px solid black;
  position: relative;
  padding: 0;
  margin: 1em auto;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-color: #B5BD02;
}
li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%
}
li:first-child .text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: black;
  font-family: DINOT-Light Regular;
}
.text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: white;
  font-family: DINOT-Light Regular;
}
.arrow{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid black;
  position: absolute;
  left: 49.3%;
  top: -20px;
  z-index: 1;
}
.spin-button{
  position: absolute;
  left: 38%;
  width: 120px;
  height: 40 px;
  background-color: #ED8B00;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: DINOT-Light Regular;

}
.start-rotate {
  animation: start-rotate 1s linear infinite;
}
@keyframes start-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.slower1-rotate {
  animation: slower1-rotate 2s linear infinite;
}
@keyframes slower1-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.slower2-rotate {
  animation: slower2-rotate 3s linear infinite;
}
@keyframes slower2-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.slower3-rotate {
  animation: slower3-rotate 4s linear infinite;
}
@keyframes slower3-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.stop-rotate {
  animation-play-state: paused;
}
